@model IEnumerable<MilitaryCollege.Models.ViewModels.OfficerVM>

<table class="dataTable table-striped table-bordered mb-3 mt-2" style="width:100%">
    <thead>
        <tr>
            <th>
                الاسم و الشهرة
            </th>
            <th>
                السبب
            </th>
            <th>
                من
            </th>
            <th>
                الى
            </th>
            <th>
                عدد الايام
            </th>
            <th>ملاحظات</th>
            <th>المجموع </th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            string trclass = "";

        }


        @foreach (var officer in Model)
        {
            trclass = i % 2 == 0 ? "even" : "odd";

            // blue border bottom on td with rowspan
            string latestRecord = i == Model.Count() - 1 ? "border-bottom : 2px solid #3397fb !important" : "";

            <tr class="@trclass" style="border-top:2px solid #3397fb">

                <td rowspan="@officer.TotalCountOfIncidentsForOfficer" style="@latestRecord" ><b>@officer.Name</b></td>
                <td>@officer.DailyIncidentents.First().ReasonOfIncident.Name</td>
                <td>@officer.DailyIncidentents.First().StartDate.Value.ToString("yyyy-MM-dd")</td>
                <td>@officer.DailyIncidentents.First().EndDate.Value.ToString("yyyy-MM-dd")</td>
                <td>@officer.DailyIncidentents.First().CountDaysOfIncident</td>
                <td>@officer.DailyIncidentents.First().Explanation</td>
                <td rowspan="@officer.TotalCountOfIncidentsForOfficer" style="@latestRecord">@officer.SumOfDaysInIncidentsForOfficer</td>
            </tr>
            var j = 0;
            foreach (var di in officer.DailyIncidentents)
            {
                if (j != 0)
                {
                    <tr class="@trclass" >

                        <td>@di.ReasonOfIncident.Name</td>
                        <td>@di.StartDate.Value.ToString("yyyy-MM-dd")</td>
                        <td>@di.EndDate.Value.ToString("yyyy-MM-dd")</td>
                        <td>@di.CountDaysOfIncident</td>
                        <td>@di.Explanation</td>
                    </tr>
                }
                j++;
            }

            i++;
        }

    </tbody>
</table>

@section Styles
{
    <style>
    .odd {
        background-color: #dee2e6 !important;
    }

    .even {
        background-color: unset !important;
    }

    table.dataTable td, table.dataTable th {
        text-align: center;
        vertical-align: middle !important;
    }

    tr.odd > td {
        border-color: #b5b5b5 !important;
    }

    thead {
        background-color: #3397fb !important;
    }
    table tr:last-child {
        border-bottom: 2px solid #3397fb;
    }

    thead {
        display: table-header-group;
    }

        @@media print {
            thead {
                display:  table-header-group;
            }
        }
   


}