@model IEnumerable<MilitaryCollege.Models.Officer>

<table class="dataTable table-striped table-bordered mb-3 mt-2" style="width:100%">
    <thead>
        <tr>
            <th>
                الاسم و الشهرة
            </th>
            <th>
                السبب
            </th>
            <th>
                من
            </th>
            <th>
                الى
            </th>
            <th>
                عدد الايام
            </th>
            <th>ملاحظات</th>
            <th>المجموع </th>
        </tr>
    </thead>
    <tbody>
        @{
            var i = 0;
            string trclass = "";

        }


        @foreach (var officer in Model)
        {
            trclass = i % 2 == 0 ? "even" : "odd";

            trclass = i % 2 == 0 ? "even" : "odd";

            <tr class="@trclass" style="border-top:2px solid black">

                <td rowspan="@officer.DailyIncidentents.Count"><b>@officer.Name</b></td>
                <td>@officer.DailyIncidentents.First().ReasonOfIncident.Name</td>
                <td>@officer.DailyIncidentents.First().StartDate</td>
                <td>@officer.DailyIncidentents.First().EndDate</td>
                <td>@officer.DailyIncidentents.First().Grade</td>

            </tr>


        }

    </tbody>
</table>